.banner-left {
  color: white;

  & img {
    width: 100%
  }

  & .texto-parrafo {
    font-size: 13px;
    color: white
  }
}

label {
  padding-left: 10px;
}

.btn-icon {
  top: -50px;
  right: 20px;
  position: relative
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100px;
  height: 100px;
}
