
<div class="container-fluid" >
  <div class="row header   layered-image">
    <div class="col ">
      <div class="ms-3 "><img class="brand-logo" src="/angular/assets/images/logo2.png" alt="">
        <span routerLink="/inicio" style="color: white"></span>
      </div>
    </div>

    <!-- <div class="col mt-4 text-end  ">
      <input type="text" class="me-3 ps-3" placeholder="Bucar productos en MobileStore" style="width: 100%;    border-radius: 9999px;">
      <button aria-label="Icono de búsqueda" class="absolute bn br-200 search-icon" style="cursor:pointer"><i class="bi bi-search absolute" style="font-size:1rem;vertical-align:-0.175em;top:50%;left:50%;transform:translate(-50%, -50%);width:1rem;height:1rem;box-sizing:content-box" data-automation-id="search-icon" aria-hidden="true"></i></button>
      </div> -->
    <div class="col mt-4 text-end  me-3 ">
      <!-- <a class="btn btn-outline-light btn-sm" (click)="login()" id="navbarLogin" role="button">
        Login <i class="bi bi-box-arrow-in-right"></i>
      </a> -->

      <!-- <h3>Horario: Lunes a Sabado de 8:00 a 18:00</h3> -->
      <!-- <a class="" style="color:white; text-decoration:none" [routerLink]="'/mis-favoritos'">
        <i  class="bi bi-heart me-3"></i>
        <i  class="bi bi-heart-fill me-3"></i>
      </a>
      <a class="" style="color:white; text-decoration:none" href="/mi-carrito"><i class="bi bi-cart4 "></i></a>
      <a style="color:white; text-decoration:none; cursor: pointer; "><i class="bi bi-door-closed me-5"></i></a> -->
    </div>
  </div>
</div>



<app-navbar-public *ngIf="role==''"></app-navbar-public>
<app-navbar-front *ngIf="role=='CUSTOMER'"></app-navbar-front>
<app-navbar-back *ngIf="role=='ADMIN'"></app-navbar-back>
