<div class="table-responsive">
  <table class="table table-striped table-hover table-borderless  align-middle">
    <thead class="table-dark">
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th width="300" class="d-print-none">Opciones</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let modelo of modelos" class="table-striped">
        <td scope="row">{{modelo.idModelo}}</td>
        <td>{{modelo.modelo| titlecase}}</td>
        <td class="d-print-none">
          <!-- <button class="btn btn-success" [routerLink]="['/admin/catalogos/modelos/por-marca/' + modelo.idModelo]">Ver</button>&nbsp; -->
          <button class="btn btn-warning btn-sm" [routerLink]="['/admin/catalogos/modelos-editar/' + modelo.idModelo]">Editar</button>&nbsp;
          <button class="btn btn-danger btn-sm" (click)="delete(modelo)">Eliminar</button>&nbsp;
        </td>
      </tr>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>
