<div class="page-title ps-3 pt-3">
  <h5><i class="bi bi-car-front-fill"></i>  Vehiculo<i class="bi bi-chevron-right"></i> Juan Perez</h5>
</div>
<div class="container pt-5">



  <div class="row">
    <table >
      <tr>
        <td>
          <h5> {{ vehicle.modelo.marca.marca | titlecase}} {{ vehicle.modelo.modelo | titlecase}} {{ vehicle.anioModelo}}</h5>
        </td>
        <td style="text-align: right">
          <button class="btn btn-warning me-2" (click)="editar()">Editar</button>
          <button class="btn btn-danger" (click)="regresar()">Regresar</button>
        </td>
      </tr>
    </table>
    <div class="col-md-12 vehicles">
      <app-vehicle-card [vehicle]="vehicle" ></app-vehicle-card>
    </div>
    <div class="row">
      <div class=" activity">
        <h4>Historial de servicios</h4>
        <div class="top-view-content ps-5 pt-5">
          <app-vehicle-services [prePath]="prePath"></app-vehicle-services>
        </div>
      </div>
    </div>
  </div>


  </div>
