
<div class="container">

  <section class="textoContenidos dos">
    <div class="contenedor" id="error">
    <h2 class="big ligth"> <i class="bi bi-exclamation-triangle"></i> Error 503 </h2>
    <div class="ttlContenido">
      <h3>El Servidor No esta Disponible</h3>
    </div>
    <div class="contenidoGralDos">
      <div class="columnaOne">
        <div class="bannerCanal"></div>
        <div class="cajaContenidoGral">
          <p class="ttlContenido"><span class="medium">
            Es posible que el servidor este temporalmente fuera de servicio.</span></p>
          <!-- <p class="ttlContenido">Compruebe que la dirección en la barra de direcciones esté escrita correctamente.</p> -->
          <ul>
            <li>Revise su conexion a internet, y verifique que este conectado.</li>
            <!-- <li>Verifica que hayas escrito correctamente la dirección.</li> -->
            <li>Haz clic en la opción <a href="javascript:history.go(-1)">Atrás</a> para intentar otro vínculo.</li>
            <li>Utiliza el <a href="/es/Infotec/Mapa-del-Sitio">mapa de sitio</a> del portal para ubicar la ruta de la página que deseas consultar.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

  </div>
