
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr class="table-dark">
            <th scope="col">Fecha de Entrada</th>
            <th scope="col">Titulo</th>
            <th scope="col" >Status</th>
            <th class="d-print-none"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="" *ngFor="let service of vehicle.ordenServicio">
            <td scope="row">{{service.fechaOrden |date}}</td>
            <td>{{service.falla}}</td>
            <td>{{service.estatusServicio.estatusServicio}}</td>
            <td><button class="btn btn-primary btn-sm" [routerLink]="[pathVehicle +'-view/' + service.idOrdenServicio]">Ver</button></td>
          </tr>
          <!-- <tr class="">
            <td scope="row">25-ene-2024</td>
            <td>cambio de aceite</td>
            <td><span class="vehicle-text text-center p-1"
                style="font-weight: bold;  font-size: 10px; background-color: rgb(7, 211, 7);color: white;">entregado</span>
            </td>
            <td><button class="btn btn-primary btn-sm" [routerLink]="[pathVehicle +'-view/' + service.idOrdenServicio]">Ver</button></td>
          </tr> -->

        </tbody>
      </table>
    </div>

