
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr class="table-secondary">
            <th scope="col">Id</th>
            <th scope="col">Fecha de Entrada</th>
            <th scope="col">Titulo</th>
            <th scope="col" >Status</th>
            <th class="d-print-none"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="" *ngFor="let service of ordenesDeServicio">
            <td scope="row">{{ service.idOrdenServicio }}</td>
            <td>{{service.fechaOrden  | date: 'short'}}</td>
            <td>{{service.falla}}</td>
            <td>{{service.estatusServicio.estatusServicio}}</td>
            <td><button class="btn btn-primary btn-sm" [routerLink]="[pathVehicle +'-view/' + service.idOrdenServicio]">Ver</button></td>
          </tr>
        </tbody>
      </table>




    </div>

