

<div class="card text-center m-2" style="width: 180px">
  <div class="card-header">
   {{ vehicle.anioModelo}}
  </div>
  <div class="card-body">
    <div *ngIf="vehicle.imagen" class="mr-auto pe-2" style="max-width:300px;"><img class="rounded"
      [src]="vehicle.imagen" style="max-width:100%;height:80px">
  </div>
  <div *ngIf="!vehicle.imagen" class="mr-auto pe-2" style="max-width:300px;"><img class="rounded"
      src="/angular/assets/images/cars/no_image.jpg" style="max-width:100%;height:80px">
  </div>
    <!-- <h4 class="card-title">{{ vehicle.modelo.modelo}}</h4> -->
    <p class="card-text">
      {{vehicle.modelo.marca.marca + ' ' + vehicle.modelo.modelo | titlecase}}
      {{ vehicle.vin | slice: 0 :8}}
    </p>
  </div>
</div>
