
.vehicles{
  /* border: 1px solid rgb(202, 202, 202); */
  margin-bottom: 10px;
  /* background-color:yellow; */
}

.vehicule-image{
  width: 100%
}


.vehicle-image{
  width: 100%;

}
.vehicle-image:hover{
  cursor:pointer ;
  border: none
}
.vehicle-img{
  max-width:300px
}
.vehicle-quarter{

  width: auto
 }
.vehicle-id{
  color: #5fd8f9;
    font-weight: bold;
    font-size: small;
}
.vehicle-brand{
  font-weight:bold;
}
.vehicle-text{
  font-size:smaller;
  color: black;
}
.vehicle-campo{
  font-size:smaller;
  color:rgb(180, 180, 180)

}

.card-car{
  width:600px;
}
.sections{
  flex-direction: column;
  border: 1px solid black;
}
