


<div class="d-flex flex-sm-row flex-column" style1="min-width:600px">
  <div class="mr-auto pe-2" style1="min-width:160px;"><img  [src]="vehicle.imagen" style="max-width:100%;max-height:100%"></div>
  <div class="text-light">
    <h5 class="ps-2"> {{ vehicle.modelo.marca.marca | titlecase}} <!-- {{ vehicle.modelo.modelo | titlecase}} --> | {{ vehicle.anioModelo}}</h5>

    <div class="d-flex p-3 flex-sm " style="min-width:400px; background-color:white">
      <div class="mr-auto">
        <span class="vehicle-campo">Id:</span> <span class="vehicle-text"> {{vehicle.idVehiculo}}</span>
        <div class="vehicle-text">{{ vehicle.modelo.marca.marca | titlecase}} {{ vehicle.modelo.modelo | titlecase}}</div>
        <div class="vehicle-text">{{ vehicle.tipoMotor | titlecase}}</div>
        <div> <span class="vehicle-campo">Año: </span><span class="vehicle-text"> {{ vehicle.anioModelo}}</span>,</div>
        <div><span class="vehicle-campo">Odo: </span> <span class="vehicle-text"> odometro km</span> </div>
      </div>
      <div class="align-self-end ms-3">
        <div  *ngIf="path!=undefined" class="mb-2" style="text-align:center">
          <button class="btn btn-outline-primary btn-sm" (click)="verHistorial(vehicle.idVehiculo)">Ver Historial</button>
        </div>
        <div><span class="vehicle-campo">Ultimo Ingreso: </span> <span class="vehicle-text"> lastService</span></div>
        <div><span class="vehicle-campo">Desde: </span><span class="vehicle-text">created_at</span></div>
      </div>
    </div>

  </div>
</div>





<!-- <div class="p-2 bd-highlight mb-2 " style1="max-width: 600px; border: 1px solid #e9e9e9">

  <div class="">
    <img class="vehicle-quarter" [src]="vehicle.imagen" alt="">
  </div>
  <div class="d-flex p-2 flex-sm ">
    <div class="mr-auto ms-2">
      <span class="vehicle-campo">Id:</span> <span class="vehicle-text"> {{vehicle.idVehiculo}}</span>
      <div class="vehicle-text">{{ vehicle.modelo.marca.marca | titlecase}} {{ vehicle.modelo.modelo | titlecase}} 2.0 TSI</div>
      <div class="vehicle-text">{{ vehicle.tipoMotor | titlecase}}</div>
      <div> <span class="vehicle-campo">Año: </span><span class="vehicle-text"> {{ vehicle.anioModelo}}</span>,</div>
      <div><span class="vehicle-campo">Odo: </span> <span class="vehicle-text"> odometro km</span> </div>
    </div>
    <div class="align-self-end ms-3">
      <div  *ngIf="path!=undefined" class="mb-2" style="text-align:center">
        <button class="btn btn-outline-primary btn-sm" (click)="verHistorial(vehicle.idVehiculo)">Ver Historial</button>
      </div>
      <div><span class="vehicle-campo">Ultimo Ingreso: </span> <span class="vehicle-text"> lastService</span></div>
      <div><span class="vehicle-campo">Desde: </span><span class="vehicle-text">created_at</span></div>
    </div>
  </div>
</div> -->
