<div class="main-front">
  <div class="text-front">

    <div class="front-top-subtitle">Bienvenidos</div>
    <div class="front-top-title">Autopro</div>
    <div class="front-top-text">

      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      <div class="mt-4 me-5" style="text-align:right; max-width:700px">
        <button class="btn btn-primary">Agenda una cita</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="vineta-wheel mt-3 mb-4">
  <img src="/ng-TallerMecanico/assets/images/logo_solo_light.png" width="120" alt="">
  <div class="our-services-title">Nuestros <br>Servicios</div>
</div> -->


<div class="services pt-4 pb-4" style1="background-color:  rgba(251, 72, 72); height: 400px">
  <img class="img-bg" src="/ng-TallerMecanico/assets/images/p3.png" alt="">
  <div class="services-container ms-4 me-4">




    <div class="card card-services text-white bg-dark">
      <img class="card-img-top" src="/ng-TallerMecanico/assets/images/icons/brakes.png" alt="Title" />
      <div class="card-body">
        <h4 class="card-title">Inspeccion de los Frenos</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
    <div class="card card-services text-white bg-dark">
      <img class="card-img-top" src="/ng-TallerMecanico/assets/images/icons/car.png" alt="Title" />
      <div class="card-body">
        <h4 class="card-title">Inspeccion <br>General</h4>
        <p class="card-text">Text</p>
      </div>
    </div>

    <div class="card card-services text-white bg-dark">
      <img class="card-img-top" src="/ng-TallerMecanico/assets/images/icons/emissions.png" alt="Title" />
      <div class="card-body">
        <h4 class="card-title">Inspeccion de Emisiones</h4>
        <p class="card-text">Text</p>
      </div>
    </div>

    <div class="card card-services text-white bg-dark">
      <img class="card-img-top" src="/ng-TallerMecanico/assets/images/icons/battery.png" alt="Title" />
      <div class="card-body">
        <h4 class="card-title">Inspeccion de la Bateria</h4>
        <p class="card-text">Text</p>
      </div>
    </div>

  </div>

</div>



