


<div class="row mb-3" style="min-width:380px;">
  <div class="p-2 col-md-9">
    <div class="d-flex p-3 flex-md " style="min-width:360px; background-color:white; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;min-height: 155px;">
      <div class="mr-auto">
        <span class="vehicle-campo">Id:</span> <span class="vehicle-text"> {{vehicle.idVehiculo}}</span>
        <div class="vehicle-text"><strong>{{ vehicle.modelo.marca.marca | titlecase}} {{ vehicle.modelo.modelo | titlecase}}</strong></div>
        <div> <span class="vehicle-campo">Año: </span><span class="vehicle-text"> {{ vehicle.anioModelo}}</span>,</div>
        <!-- <div class="vehicle-text">{{ vehicle.tipoMotor.tipoMotor| titlecase}} </div> -->
        <div><span class="vehicle-campo">Odo: </span> <span class="vehicle-text"> 125465 km</span> </div>
        <div><span class="vehicle-campo">Comb: </span> <span class="vehicle-text"> {{ vehicle.tipoMotor.tipoMotor }}</span> </div>
      </div>
      <div>&nbsp;</div>
      <div class="align-self-end ms-3">
        <div *ngIf="path!=undefined" class="mb-2" style="text-align:center">
          <button class="btn btn-outline-primary btn-sm" *ngIf="path"
            [routerLink]="this.path + '/'+ vehicle.idVehiculo">Ver Historial</button>
        </div>
        <div><span class="vehicle-campo">Placas: </span> <span class="vehicle-text"> {{vehicle.matricula |
            uppercase}}</span></div>
        <div><span class="vehicle-campo">VIN: </span> <span class="vehicle-text"> {{vehicle.vin| uppercase}}</span>
        </div>
        <div><span class="vehicle-campo">Ultimo Ingreso: </span> <span class="vehicle-text"> lastService</span></div>
        <div><span class="vehicle-campo">Desde: </span><span class="vehicle-text">created_at</span></div>
      </div>
      <!-- <div style="text-align:center;">
        <img [src]="'/assets/images/logos/' + vehicle.modelo.marca.marca + '.png'" style="max-height: 130px"></div> -->
    </div>
  </div>
  <div class="p-2 col-md-3">
    <div *ngIf="vehicle.imagen" class="mr-auto pe-2" style="max-width:300px;"><img class="rounded"
        [src]="vehicle.imagen" style="max-width:100%;max-height:100%;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px">
    </div>
    <div *ngIf="!vehicle.imagen" class="mr-auto pe-2" style="max-width:300px;"><img class="rounded"
        src="/assets/images/cars/no_image.jpg" style="max-width:100%;max-height:100%;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px">
    </div>
  </div>
</div>
