

<div class="container pt-3 ">
  <app-page-title [title]="title" [subTitle]="subTitle" [printerEnabled]="true" [buttons]="buttons"></app-page-title>
    <div class="text-end p-1 pe-2" style="background-color: #cbcbcb;">
      <button class="btn btn-verde btn-sm ms-2"
        routerLink="/admin/taller/servicios/todos">Todos
      </button>
      <button class="btn btn-secondary btn-sm ms-2" *ngFor="let status of estatus" [routerLink]="'/admin/taller/servicios/' + status.estatusServicio">
        {{status.estatusServicio | titlecase}}
      </button>
    </div>

    <div>

      <app-m-services-list [services]="services" [pathService]="pathService"></app-m-services-list>
      <div *ngIf="isLoading; else showMessages" style="width: 100%; text-align: center">
        <div class="loader"></div>
      </div>

      <ng-template #showMessages>
        <!-- <div *ngIf='errorMessage' class="alert alert-danger" role="alert"><strong>Error.- </strong> {{ errorMessage }}</div> -->
        <div *ngIf="services.length<1" class="p-4 text-center">No se encontraron servicios con este estatus.</div>

      </ng-template>

    </div>


    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChanged)="onPageChange($event)"
    ></app-pagination>

</div>
