<!-- <div class="container page-title ps-3 pt-3">
  <h5><i class="bi bi-card-checklist"></i> R. Servicios

    Todos | Reparando | Terminado | Entregado
  </h5>
</div> -->

<div class="container pt-3 ">
  <app-page-title [title]="title" [subTitle]="subTitle" [printerEnabled]="true" [buttons]="buttons"></app-page-title>
  <div >
    <div class="text-end bg-dark p-1 pe-2 d-print-none">
      <button class="btn btn-warning btn-sm ms-2">Nuevos</button>
      <button class="btn btn-warning btn-sm ms-2">LLamar</button>
      <button class="btn btn-warning btn-sm ms-2">Para Entregar</button>
      <button class="btn btn-warning btn-sm ms-2">Mas de 1 Mes</button>
      <!-- <button class="btn btn-primary btn-sm " [routerLink]="['/admin/recepcion/servicios-form/0']">+ Agregar</button> -->
    </div>
    <app-m-services-list [services]="services" [pathService]="pathService"></app-m-services-list>


  </div>

</div>
