<div class="container pt-3 ">

  <app-page-title [title]="title" [subTitle]="subTitle" [printerEnabled]="true" [buttons]="buttons"></app-page-title>
  <div>
    <div class="text-end  p-1 pe-2 d-print-none" style="background-color: #cbcbcb;">
      <button class="btn btn-verde btn-sm ms-2"
        [routerLink]="'/admin/recepcion/servicios/todos'">Todos
      </button>
      <button class="btn btn-warning btn-sm ms-2" *ngFor="let status of estatus"
        [routerLink]="'/admin/recepcion/servicios/' +status.estatusServicio">{{status.estatusServicio | titlecase}}
      </button>
    </div>
    <div>
      <app-m-services-list [services]="services" [pathService]="pathService"></app-m-services-list>
      <div *ngIf="isLoading; else showMessage" style="width: 100%; text-align: center">
        <div class="loader"></div>
      </div>
    </div>

    <ng-template #showMessage>
      <div *ngIf='false' class="alert alert-danger" role="alert"><strong>Error.- </strong> {{ 'errorMessage' }}</div>
      <div *ngIf="services.length<1" class="p-4 text-center">
        Sin servicios para Mostrar.<br>
      </div>
    </ng-template>
  </div>


  <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
    (pageChanged)="onPageChange($event)"></app-pagination>

</div>
<!-- <pre>
  {{services | json}}
</pre> -->
