<div class="container ps-3 pt-3">

  <app-page-title [title]="title" [subTitle]="subTitle" [printerEnabled]="true"></app-page-title>
  <div class="">
    <div class="text-end bg-dark p-1 pe-2">
      <!-- <button class="btn btn-primary" [routerLink]="[pathVehicle + '-form/0']">+ Agregar</button> -->
    </div>
    <div>
    <app-m-vehicle-list [vehicles]="vehicles" [pathVehicle]="pathVehicle"></app-m-vehicle-list>
    <div class="mt-2" *ngIf="isLoading; else showMessages" style="width: 100%; text-align: center">

      <div class="loader"></div>
    </div>
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
      (pageChanged)="onPageChange($event)"></app-pagination>

  </div>

  <ng-template #showMessages>
    <div *ngIf='false' class="alert alert-danger" role="alert"><strong>Error.- </strong> {{ 'errorMessage' }}</div>
    <div *ngIf="vehicles.length<1" class="text-center"> Aun no se ha registrado ningun vehiculo en la BD.</div>
  </ng-template>

  </div>


</div>
