









<nav class="navbar sticky-top navbar-expand-lg navbar-dark primary " style="
  background-color:  #631930;
  background: linear-gradient(172deg, rgba(102,25,45,1) 59%, rgba(143,57,80,1) 86%);
  background-repeat: repeat;">
  <div class="container-fluid ms-3">
    <a class="navbar-brand" href="/admin/dashboard">
      <h2>AUTOPRO</h2>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <!-- <img class="brand-logo" src="/assets/images/logo2.png" alt=""> -->
    </button>
  <div class="collapse navbar-collapse navbar-right" id="navbarNavDropdown">

    <ul class="navbar-nav ms-auto">

      <li class="nav-item" >
        <a class="nav-link active" *ngIf="userLoginOn" aria-current="page" [routerLink]="['/mi-garage']"><i class="bi bi-house-door"></i> Mi Garage</a>
      </li>


      <li class="nav-item" >
        <a class="nav-link active" aria-current="page" [routerLink]="['/']"><i class="bi bi-info-circle"></i> Acerca de Nosotros</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link active" aria-current="page" [routerLink]="['/']"><i class="bi bi-wrench-adjustable"></i> Team</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link active" aria-current="page" [routerLink]="['/']"><i class="bi bi-telephone-forward"></i> Contactanos </a>
      </li>




      <li  class="nav-item dropdown  ms-4 me-3">
        <a class="btn btn-outline-light btn-sm mt-1 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          {{ userData.username }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" routerLink="/perfil"><i class="bi bi-person-fill"></i> Mi Perfil</a></li>

          <li><hr class="dropdown-divider"></li>
          <li><button class="dropdown-item"  [routerLink]="['/logout']" ><i class="bi bi-door-closed"></i> Cerrar Sesión</button></li>
        </ul>
      </li>
    </ul>

  </div>
</div>
</nav>
