<div class="container page-title ps-3 pt-3">
  <h5><i class="bi bi-card-checklist"></i> Taller Servicios

    <!-- Todos | Reparando | Terminado | Entregado -->
  </h5>
</div>

<div class="container pt-3 ">
  <div class="row pt-3">
    <div class="text-end bg-dark p-1 pe-2">
      <button class="btn btn-secondary ms-2">Nuevos</button>
      <button class="btn btn-warning ms-2">En Progreso</button>
      <button class="btn btn-success ms-2">Terminados</button>
      <button class="btn btn-secondary ms-2">En Espera</button>
      <button class="btn btn-secondary ms-2 me-5">Mas de 1 Mes</button>
      <!-- <button class="btn btn-primary" [routerLink]="['/admin/recepcion/servicios-form/0']">+ Agregar</button> -->
    </div>
    <app-m-services-list [pathService]="pathService"></app-m-services-list>


  </div>

</div>
