<div class="title ps-3 pt-3">
  <h5>Servicio</h5>
</div>
<div class="container ps-5 pt-5">

  <div class="service-title mb-3">Cambio de Aceite</div>
  <hr>
  <div class="row">
    <div class="col-md-8 bg-light p-3">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <div class="service-subtitle">Descripcion del problema</div>
            <div>Solo requiere cambio de aceite</div>

            <div class="service-subtitle mt-3">Atendió</div>
            <div>Nombre del Elmpleado</div>
            <div class="service-subtitle">Fecha y Hora</div>
            <div>10-02-2024</div>
          </div>
          <div class="col-md-6 ">
            <div class="service-title">Chevrolet Camaro</div>
          </div>
        </div>

        <hr>
        <div class="service-subtitle mt-5">Diagnóstico</div>
        <div class="comentarios mt-3 p-3">No se han agregado comentarios</div>

      </div>

    </div>
    <div class="col-md-4 bg-light">
      <div class="service-title">
        <table style="width: 100%">
          <tr>
            <td>Cuenta</td>
            <td style="text-align: right"><button class="btn btn-danger" (click)="regresar()">Regresar</button></td>
          </tr>
        </table>
      </div>

      <hr>
      <div>
        <table style="width:100%">
          <tr>
            <td>aceite</td>
            <td class="t-right">800.00</td>
          </tr>
          <tr>
            <td class="last-line">mano de obra</td>
            <td class="last-line t-right">300.00</td>
          </tr>
          <tr>
            <td>total</td>
            <td class=t-right>1100.00</td>
          </tr>


          <tr>
            <td></td>
            <td style="text-align:right">
              <div class="btn-group mt-3" role="group">
                <!-- <button type="button" class="btn btn-success">Autorizar</button>
                <button type="button" class="btn btn-danger">Cancelar</button> -->
                <button type="button" class="btn btn-secondary">Pagar</button>
              </div>
            </td>
          </tr>

        </table>

      </div>
    </div>

  </div>
</div>
