.title {
  background-color: rgb(243, 243, 243);
  border-bottom: 2px solid rgb(187, 187, 187);
  height: 36px;
  background: url(/assets/images/backgrounds/cintillaBeige.svg);
    background-repeat: repeat;
}
.container {
  min-height: 500px;
}

.service-title{
  font-size: 18px;
  font-weight: bold;
}

.service-subtitle{
  font-size: 12px;
  font-weight: bold;
}
.last-line{
  border-bottom: 1px solid black;
}
.t-right{
  text-align:right;

}

.comentarios{
  border:1px solid #cfcfcf;
  min-height: 300px;
  width: 100%
}
