

<nav class="navbar sticky-top navbar-expand-lg navbar-dark primary "  style="background-color:  #0078d4;" >
  <div class="container-fluid ms-3">
    <!-- <a class="navbar-brand" href="/dashboard">Dashboard</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown">Recepcion</a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="'/admin/recepcion/servicios'" class="dropdown-item">Servicios <i class="bi bi-bookmark-fill text-warning"></i> </a> </li>
            <li><a [routerLink]="'/admin/recepcion/clientes'" class="dropdown-item">Clientes &raquo;</a></li>
            <li><a [routerLink]="'/admin/recepcion/vehiculos'" class="dropdown-item">Vehiculos &raquo;</a></li>
            <!-- <li><a href="/admin/recepcion/" class="dropdown-item">Productos &raquo;</a></li> -->
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="x" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Taller
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="'/admin/taller/servicios'">Servicios  <i class="bi bi-bookmark-fill text-warning"></i></a></li>
            <li><hr class="dropdown-divider"></li>
            <!-- <li><a class="dropdown-item" href="/admin/taller/servicios/1">Nuevas</a></li>
            <li><a class="dropdown-item" href="/admin/taller/servicios/2">En Proceso</a></li>
            <li><a class="dropdown-item" href="/admin/taller/servicios/3">Terminados</a></li>
            <li><a class="dropdown-item" href="/admin/taller/servicios/4">Pendientes</a></li>
            <li><hr class="dropdown-divider"></li> -->
            <li><a class="dropdown-item" [routerLink]="'admin/taller/vehiculos'">Vehiculos</a></li>


            <!-- <li><a class="dropdown-item" href="/admin/ordenes-por-status/4">Refacciones</a></li> -->
          </ul>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="x" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Refacciones
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/admin/reportes/por-mes">Altas</a></li>
            <li><a class="dropdown-item" href="/admin/reportes/por-mes">Bajas</a></li>
            <li><a class="dropdown-item" href="/admin/reportes/por-mes">Cambios</a></li>

          </ul>
        </li> -->

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="x" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Catalogos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="'/admin/catalogos/marcas'">Marcas</a></li>
            <li><a class="dropdown-item" [routerLink]="'/admin/catalogos/modelos/0'">Modelos</a></li>
            <!-- <li><a class="dropdown-item" [routerLink]="'/admin/catalogos/roles">Roles</a></li> -->
            <li><a class="dropdown-item" [routerLink]="'/admin/catalogos/tipos-motor'">Tipo Motor</a></li>
            <li><a class="dropdown-item" [routerLink]="'/admin/catalogos/estatus-servicio'">Estatus Servicio</a></li>
            <li><a class="dropdown-item" [routerLink]="'/admin/catalogos/departamento'">Departamentos</a></li>
          </ul>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="x" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Reportes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/admin/ordenes">Ver Todos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/admin/ordenes-por-status/1">Ingresos</a></li>
            <li><a class="dropdown-item" href="/admin/ordenes-por-status/2">Egresos</a></li>
            <li><a class="dropdown-item" href="/admin/ordenes-por-status/3">Balance General</a></li>
            <li><a class="dropdown-item" href="/admin/ordenes-por-status/4">Reporte x Mes</a></li>
          </ul>
        </li> -->

      </ul>
      <ul class="navbar-nav ms-auto me-5">

        <li class="nav-item dropdown">
          <a href="" class="nav-link active dropdown-toggle" data-bs-toggle="dropdown">Sistema</a>
          <ul class="dropdown-menu">


            <li><a [routerLink]="'/admin/sistema/empleados'" class="dropdown-item">Empleados   <i class="bi bi-bookmark-fill text-warning"></i></a></li>
            <li><a [routerLink]="'/admin/sistema/usuarios'" class="dropdown-item">Usuarios   <i class="bi bi-bookmark-fill text-warning"></i></a></li>
            <!-- <li><a href="/admin/sistema/roles" class="dropdown-item">Roles &raquo;</a>
              <ul class="dropdown-menu submenu submenu-left">
                <li><a href="/admin/sistema/roles/altas" class="dropdown-item">Altas</a></li>
                <li><a href="/admin/sistema/roles/buscar" class="dropdown-item">Buscar</a></li>
                <li><a href="/admin/sistema/roles" class="dropdown-item">Ver Todos</a></li>
              </ul>
            </li> -->


          </ul>

        </li>
        <li  class="nav-item dropdown  ms-4 me-3">
          <a class="btn btn-outline-light btn-sm mt-1 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{ userData.username }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="'/perfil'"><i class="bi bi-person-fill"></i> Mi Perfil</a></li>

            <li><hr class="dropdown-divider"></li>
            <li><button class="dropdown-item"   [routerLink]="['/logout']" routerLinkActive="router-link-active" ><i class="bi bi-door-closed"></i> Cerrar Sesión</button></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div class=" sticky-top sub-bar" style="top:56px; z-index: 1">
    <div class="container p-1" style="border-right: 1px solid #00000029">




      <span class="sub-menu ms-1"  [routerLink]="'/admin/recepcion/clientes-form/0'">
        <i class="bi bi-plus-circle"></i> Cliente
      </span>
      <span class="sub-menu ms-1"  data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-search"></i> Buscar Cliente
      </span>
      <span *ngIf="currentCustomer.idCliente" class="sub-menu me-1" [routerLink]="'/admin/recepcion/clientes-view/' + currentCustomer.idCliente"style="right: 20px">
        <i class="bi bi-pin-angle-fill"></i>
        Cliente: <span style="font-weight: bold; color:#0078d4">{{ currentCustomer.nombre + ' ' + currentCustomer.apellidoPaterno | titlecase}}</span>
      </span>
      <i *ngIf="currentCustomer.idCliente" class="bi bi-x-lg" (click)="clearCustomer()" style="cursor: pointer"></i>
    </div>
  </div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Buscar Cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input class="form-control form-control-lg" type="text" (keyup.enter)="searchCustomer()" [(ngModel)]="word"
          placeholder="Nombre del cliente o Tel." aria-label=".form-control-lg example">
        <div >
          <br>Resultados:
          <div class="table-responsive">

            <table class="table table-striped  table-borderless ">
              <thead>
                <tr>
              <th>Nombre</th><th>Telefono</th><th>Vehi.</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let customer of customers" (click)="selCustomer(customer)" data-bs-dismiss="modal">
              <td>{{customer.nombre}} {{customer.apellidoPaterno}}</td><td>{{ customer.telefono }} </td>
              <td>{{ customer.vehiculos.length}}</td>
            </tr>
          </tbody>
        </table>
      </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



