<!-- <div class="title ps-3 pt-3">
  <h5>Ficha Tecnica</h5>
</div> -->
<div class="container ps-5 pt-5">

  <div class="row">
    <table>
      <tr>
        <td class=" pt-2 pt-2 ps-3" style="background-color: black; color:white">
          <h3><i class="bi bi-arrow-left-circle"  (click)="regresar()"></i> {{ vehicle.modelo.marca.marca | titlecase}}
            {{ vehicle.modelo.modelo | titlecase}} {{ vehicle.anioModelo}}</h3>
        </td>
        <td class="pt-1 pb-1 pe-2" style="text-align: right; background-color: black; color:white">
          <button class="btn btn-warning btn-sm me-2" [routerLink]="'/mi-garage'"><i class="bi bi-car-front"
              data-bs-placement="bottom" title="Cambiar Auto"></i> Cambiar Auto</button>
          <!-- <button class="btn btn-warning btn-sm me-2" (click)="navigate('/servicios')"><i class="bi bi-list-ul" data-bs-placement="top" title="Ver Servicios"></i></button> -->
        </td>
      </tr>
    </table>

    <div class="col-md-12 pt-2 pb-2 vehicles"  style="background-color: #fd3a3a;">
      <app-vehicle-card [vehicle]="vehicle" ></app-vehicle-card>
    </div>
  </div>

  <div class="row mt-3">
      <div class="bg-dark text-light">

        <h4>Historial de servicios</h4>
      </div>
      <div class="top-view-content pt-2">

        <app-vehicle-services [pathVehicle]="pathVehicle"></app-vehicle-services>
      </div>
  </div>




</div>
