.container {
  min-height: 500px;
}

.title {
  background-color: rgb(243, 243, 243);
  border-bottom: 2px solid rgb(187, 187, 187);
  height: 60px
}
.content-box{
  display:flex;
  flex-direction: row;
  justify-items: start;
}

.activity{
  border-left: 0px solid rgb(202, 202, 202);
  /* margin-bottom: 10px; */
  min-height: 500px;
  /* background-color:green */
}

.top-view-content{
  text-align: center
}
.top-view{
  max-height:400px
}






.services{
  /* background-image: url(/assets/images/p3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: 50% 50%; */
  overflow: hidden;
  position: relative;
}
.img-bg {
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.services-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  align-content: space-between;
  /* padding: 50px 0px 50px 0px;
    margin: 0px 0px 0px 0px; */

}
.services-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.card{
  --bs-card-border-radius: 0;
}
.card-services{
  width:325px;
  height: 160px
}
.card-img-top{
  padding-left: 18px;
  height: 55px;
  width: 65px;
}

.our-services-title{
  font-size: 30px;
  font-weight: bold;
  margin-top: -45px;
  line-height:29px;
}

.vehicles{
  /* border: 1px solid rgb(202, 202, 202); */
  margin-bottom: 10px;
  /* background-color:yellow; */
}

.vehicule-image{
  width: 100%
}


.vehicle-image{
  width: 100%;

}
.vehicle-image:hover{
  cursor:pointer ;
  border: none
}
.vehicle-quarter{
  height: 84px;
  width: 200px
 }
.vehicle-id{
  color: #5fd8f9;
    font-weight: bold;
    font-size: small;
}
.vehicle-brand{
  font-weight:bold;
}
.vehicle-text{
  font-size:smaller
}
.vehicle-campo{
  color:rgb(201, 201, 201)

}
