.settings-box{
  margin-bottom: 14px
}
.settings-content{
  padding: 14px
}
.settings-title{
  padding-left: 6px;
  background-color: #1a4f46;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.error-message{
  color: #a94442;
  font-size: .7rem;
  padding-left: 10px
}
.show-password-btn{
  position: relative;
  top: -32px;
  left: 295px;
}

.row-data{
  padding: 6px;
}
