<div class="table-responsive">
  <table  class="table table-striped table-hover table-borderless  align-middle">
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Foto</th>
        <th>Vehiculo</th>
        <th>Modelo</th>
        <th>Matricula</th>
        <th>Servicios</th>
        <th class="d-print-none" width="150">Opciones</th>
      </tr>
    </thead>
    <tbody  class="table-group-divider">
      <tr *ngFor="let vehicle of vehicles" class="" >
        <td class="text-row" scope="row">{{vehicle.idVehiculo}}</td>
        <td *ngIf="vehicle.imagen"><img [src]="vehicle.imagen" height="50" style="border-radius: 5px;"></td>
        <td *ngIf="!vehicle.imagen"><img src="/ng-TallerMecanico/assets/images/cars/no_image.jpg" height="50" style="border-radius: 5px;"></td>
        <td class="text-row row-link" [routerLink]="[pathVehicle + '/'+ vehicle.idVehiculo]">{{ vehicle.modelo.marca.marca | titlecase}} {{ vehicle.modelo.modelo | titlecase}}</td>
        <td class="text-row row-link" [routerLink]="[pathVehicle + '/'+ vehicle.idVehiculo]">{{vehicle.anioModelo}}</td>
        <!-- <td class="text-row row-link" (click)="emitVehicle(vehicle)">{{vehicle.matricula}}</td> -->
        <td class="text-row row-link"  [routerLink]="[pathVehicle + '/'+ vehicle.idVehiculo]">{{vehicle.matricula}}</td>
        <td class="text-row row-link text-center" [routerLink]="[pathVehicle + '/'+ vehicle.idVehiculo]">{{vehicle.ordenServicio.length}}</td>
        <td class="d-print-none">
          <!-- <button class="btn btn-success btn-sm" [routerLink]="[pathVehicle + '/'+ vehicle.idVehiculo]">Ver</button>&nbsp; -->
          <button class="btn btn-warning btn-sm" [routerLink]="'/admin/recepcion/vehiculos-form/' + vehicle.idVehiculo">Editar</button>
          <button class="btn btn-danger btn-sm ms-2" *ngIf="!vehicle.ordenServicio.length" (click)="emitDelete(vehicle.idVehiculo)"><i class="bi bi-trash"></i></button>
        </td>
      </tr>

    </tbody>
    <tfoot>

    </tfoot>
  </table>
  <br>
  <!-- <div *ngIf="!vehicles.length" class=" text-center border border-yellow text-muted font-light" ><i class="bi bi-exclamation-circle-fill"></i> Aun no se han agregado vehiculos</div> -->
</div>

<!-- <pre>
  {{ vehicles | json }}
</pre> -->


