<div class="container pt-3">

  <app-page-title [title]="title" [subTitle]="subTitle" [printerEnabled]="true" [buttons]="buttons"></app-page-title>

  <div class="service-title mb-3">
    <div class="row">
      <div class="col-md-6 ps-4">
      </div>
      <div class="col-md-6 pe-4" style="text-align: right;">
        Orden de Servicio No: {{vehicle.idVehiculo}}
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-8 ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <div class="service-subtitle">Datos del Vehiculos</div>
            <div>Marca:
              <button class="btn btn-link btn-sm" [routerLink]="'/admin/recepcion/vehiculos/' + vehicle.idVehiculo">
                {{ vehicle.modelo.marca.marca | titlecase}} <i class="bi bi-link-45deg"></i>
              </button>
            </div>
            <div>Modelo: {{ vehicle.modelo.modelo }}</div>
            <div>Año: {{ vehicle.anioModelo }}</div>
            <div>VIN: {{ vehicle.vin | uppercase }}</div>
            <hr>
            <div class="service-title">{{service.falla | titlecase}}</div>
            <div class="service-subtitle mt-3">Observaciones:</div>
            <div>{{service.observaciones |titlecase}}</div>

            <!-- To do: asociar con empleado  -->

            <!-- <div class="service-subtitle mt-3">Atendio</div>
            <div>Nombre del Empleado</div> -->
            <div class="service-subtitle mt-2">Fecha y Hora</div>
            <div> {{ service.fechaOrden}}</div>
          </div>
          <div class="col-md-6 ">
            <!-- <div class="service-title">{{service.falla | titlecase}}</div> -->
            <!-- <app-vehicle-card [vehicle]="vehicle"></app-vehicle-card> -->



          </div>
        </div>


        <hr>
        <div class="service-subtitle mt-5">Comentarios</div>
        <div class="comentarios mt-3 p-3">No se han agregado comentarios</div>

      </div>

    </div>
    <div class="col-md-4 ">
      <div class="service-title d-print-none">
        <table style="width: 100%">
          <tr>
            <td>Cuenta</td>
            <td style="text-align: right"><button class="btn btn-danger" (click)="regresar()">Regresar</button></td>
          </tr>
        </table>
      </div>

      <hr>
      <div>
        <table style="width:100%">
          <tr>
            <td colspan="2">Aceite</td>
            <td class="text-right" style="width:80px">800.00</td>
          </tr>
          <tr>
            <td colspan="2" class="last-line">Mano de obra</td>
            <td class="last-line text-right">300.00</td>
          </tr>
          <tr>
            <td></td>
            <td class="text-right" style="font-weight: bold;">Total $</td>
            <td class=text-right>1100.00</td>
          </tr>


          <tr class="d-print-none">
            <td></td>
            <td style="text-align:right">
              <div class="btn-group mt-3" role="group">
                <button type="button" class="btn btn-success">Autorizar</button>
                <button type="button" class="btn btn-danger">Cancelar</button>
                <!-- <button type="button" class="btn btn-secondary">Pagar</button> -->
              </div>
            </td>
          </tr>

        </table>

      </div>
    </div>

  </div>
</div>
