.service-title{
  background-color:black;
  color: white;
  font-size:20px;
  padding:2px;
}

.service-subtitle{
  font-size: 14px;
  font-weight: bold;
}

.text-right{
  text-align: right;
  padding-right: 4px;
}

.last-line{
  border-bottom: 1px solid black;
}
