.container {
  min-height: 500px;
}

.title {
  background-color: rgb(243, 243, 243);
  border-bottom: 2px solid rgb(187, 187, 187);
  height: 60px
}
.content-box{
  display:flex;
  flex-direction: row;
  justify-items: start;
}

.vehicules{
  /* border: 1px solid rgb(202, 202, 202); */
  margin-bottom: 10px;
  /* background-color:yellow; */
}

.activity{
  border-left: 1px solid rgb(202, 202, 202);
  margin-bottom: 10px;
  min-height: 500px;
  /* background-color:green */
}
.vehicle-image{
  width: 100%;

}
.vehicle-image:hover{
  cursor:pointer ;
  border: none
}
.vehicle-quarter{
  height: 84px;
  width: 200px
 }
.vehicle-id{
  color: #5fd8f9;
    font-weight: bold;
    font-size: small;
}
.vehicle-brand{
  font-weight:bold;
}
.vehicle-text{
  font-size:smaller
}
.vehicle-campo{
  color:rgb(201, 201, 201)

}

.activity-text{
  font-size: 12px;
}

