<div class="container">

  <div class="row  mt-1">

    <div class="col-lg-6 col-xl-3 mb-2">
      <div class="card clickable bg-guinda" routerLink="/admin/recepcion/servicios/todos">
        <div class="card-body">
          <h2 class="card-title"><i class="bi bi-wrench-adjustable"></i> Servicios</h2>
          <div class="lead"><i class="bi bi-arrow-right"> Recepcion</i></div>
          <!-- <p class="small text-muted">Oct 1 - Dec 31,<i class="fa fa-globe"></i> Worldwide</p> -->
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-3 mb-2" >

      <div class="card clickable bg-guinda" routerLink="/admin/taller/vehiculos">
        <div class="card-body">
          <h2 class="card-title"><i class="bi bi-car-front"></i> Vehiculos</h2>
          <div class="lead"><i class="bi bi-arrow-right"></i>Taller</div>
          <!-- <p class="small text-muted">Oct 1 - Dec 31,<i class="fa fa-globe"></i> Worldwide</p> -->
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-xl-3 mb-2" >
      <div class="card clickable bg-guinda"  routerLink="/admin/recepcion/clientes">
        <div class="card-body">
          <h2 class="card-title"><i class="bi bi-person"></i> Clientes</h2>
          <div class="lead"><i class="bi bi-arrow-right"></i>Listado</div>
          <!-- <p class="small text-muted">Oct 1 - Dec 31,<i class="fa fa-globe"></i> Worldwide</p> -->
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-xl-3 mb-2" >
      <div class="card clickable bg-guinda" routerLink="/admin/sistema/empleados">
        <div class="card-body">
          <h2 class="card-title"><i class="bi bi-person"></i> Empleados</h2>
          <div class="lead"><i class="bi bi-arrow-right"></i>Listado</div>
          <!-- <p class="small text-muted">Oct 1 - Dec 31,<i class="fa fa-globe"></i> Worldwide</p> -->
        </div>
      </div>
    </div>
  </div>

  <img src="/assets/images/dashboardAdmin.jpg" style="width: 100%; height: 100%" alt="">
</div>
