.footer{
  /* background-color: #9f2241; */
  height: 34px;
  color: white;
  font-weight:bold;
  text-align: center;
}
.services-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  align-content: space-between;
  /* padding: 50px 0px 50px 0px;
    margin: 0px 0px 0px 0px; */

}
