<div class="container pt-3">

  <!-- <div class="text-end bg-dark p-1 pe-2">
    <button class="btn btn-primary d-print-none" (click)="print()"><i class="bi bi-printer"></i> Imprimir</button>&nbsp;
    <button class="btn btn-primary d-print-none" [routerLink]="['/admin/recepcion/clientes-form/0']"><i class="bi bi-plus-circle"></i> Agregar</button>
  </div> -->
  <div>
    <app-page-title [title]="title" [subTitle]="customer.nombre + ' ' + customer.apellidoPaterno"
      [printerEnabled]="true" [buttons]="buttons">
    </app-page-title>

  </div>
  <div>

    <div class="bg-dark text-white fw-bold p-2" style="background-color: #16232c;">
      <div class="d-flex bd-highlight">
        <div class="flex-fill p-2 bd-highlight">
          <!-- Informacion Personal -->
          <!-- <i class="bi bi-pencil-square text-warning d-print-none" style="cursor: pointer"
            [routerLink]="'/admin/recepcion/clientes-form/'  + customer.idCliente"></i> -->
        </div>
        <div class="p-2 bd-highlight ">


        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4 pt-2 bg-dark text-white pb-3">

          <div class="d-flex bd-highlight pb-2" style="border-bottom: 1px solid rgb(150, 148, 148);">
            <div class="pt-2 flex-fill bd-highlight fw-bold" style="background-color: #16232c;">Datos del Cliente </div>
            <div class=" bd-highlight"><button class="btn btn-outline-light btn-sm"
              [routerLink]="'/admin/recepcion/clientes-form/'  + customer.idCliente"><i class="bi bi-pencil-square"></i> Editar</button>
            </div>
          </div>
          <!-- <span class="title-field ">Nombre:</span> -->
          <div class="ps-2">
            <div class="fw-bold" style="font-size:larger">
              {{ customer.nombre | titlecase}} <br>
              {{ customer.apellidoPaterno | titlecase}}<br>
              {{ customer.apellidoMaterno |titlecase }}<br>
            </div>
            <div><span class="title-field">Tel:</span> {{ customer.telefono }}</div>
            <div><span class="title-field">Direccion:</span> {{ customer.domicilio }}</div>
          </div>
        </div>
        <div class="col-md-8 ">

          <div class="bg-dark text-white fw-bold p-2">
            <div class="d-flex bd-highlight">
              <div class="flex-fill p-2 bd-highlight" style="background-color: #16232c;">
                Vehiculos
              </div>
              <div class="p-21bd-highlight ">
                <button class="btn btn-outline-light btn-sm "
                  [routerLink]="'/admin/recepcion/clientes/'+ customer.idCliente +'/vehiculo-form/0' "><i class="bi bi-plus-square"></i> Agregar</button>
              </div>
            </div>
          </div>
          <div>
            <app-m-vehicle-list [vehicles]="customer.vehiculos" [pathVehicle]="pathVehicle"></app-m-vehicle-list>
          </div>

        </div>
      </div>

    </div>
  </div>





  <div class="bg-dark text-white fw-bold mt-3 p-2">
    <div class="d-flex bd-highlight">
      <div class="flex-fill p-2 bd-highlight" style="background-color: #16232c;">
        Servicios Abiertos
      </div>
      <div class="p-1 bd-highlight ">
        <button class="btn btn-outline-light btn-sm " [routerLink]="'/admin/recepcion/vehiculos-form/0' "><i class="bi bi-plus-square"></i> Nuevo</button>
      </div>
    </div>
  </div>
  <div>
    <app-m-services-list [services]="services" [pathService]="pathService"></app-m-services-list>
  </div>

</div>
