<div class="container pt-3">


  <div>
    <app-page-title [title]="title" [subTitle]="customer.nombre + ' ' + customer.apellidoPaterno"
      [printerEnabled]="true" [buttons]="buttons">
    </app-page-title>

  </div>
  <div>

    <div class="container mt-5">
      <div class="row" >
        <div class="col-md-4 pt-2 mb-3 text-white pb-3" style="background-color: #1a4f46;">

          <div class="d-flex bd-highlight pb-2" style="border-bottom: 1px solid rgb(150, 148, 148);">
            <div class="pt-2 flex-fill bd-highlight fw-bold" style="background-color: #1a4f46;">Datos del Cliente </div>
            <div class=" bd-highlight"><button class="btn btn-outline-light btn-sm"
              [routerLink]="'/admin/recepcion/clientes-form/'  + customer.idCliente"><i class="bi bi-pencil-square"></i> Editar</button>
            </div>
          </div>
          <!-- <span class="title-field ">Nombre:</span> -->
          <div class="ps-2">
            <div  *ngIf="!isLoading">

              <div class="fw-bold" style="font-size:larger">
                {{ customer.nombre | titlecase}} <br>
                {{ customer.apellidoPaterno | titlecase}}<br>
                {{ customer.apellidoMaterno |titlecase }}<br>
              </div>
              <div><span class="title-field">Tel:</span> {{ customer.telefono }}</div>
              <div><span class="title-field">Direccion:</span> {{ customer.domicilio }}</div>
            </div>
            <div *ngIf="isLoading" class="spinner-border text-light mt-2" role="status"></div>
          </div>

        </div>
        <div class="col-md-8 ">

          <div class="text-white fw-bold p-2" style="background-color: #1a4f46;">
            <div class="d-flex bd-highlight">
              <div class="flex-fill p-2 bd-highlight" style="background-color: #1a4f46;">
                Vehiculos
              </div>
              <div class="p-21bd-highlight">
                <button class="btn btn-outline-light btn-sm "
                  [routerLink]="'/admin/recepcion/clientes/'+ customer.idCliente +'/vehiculo-form/0' "><i class="bi bi-plus-square"></i> Agregar</button>
              </div>
            </div>
          </div>
          <div>
            <app-m-vehicle-list [vehicles]="customer.vehiculos"  (onDeleteById)="deleteVehicleById($event)" [pathVehicle]="pathVehicle"></app-m-vehicle-list>
            <div *ngIf="!customer.vehiculos.length" class="text-center" style="color:gray"> <strong>Aun no se ha registrado nungun vehiculo.</strong></div>
            <div *ngIf="isLoading; else showMessage" style="width: 100%; text-align: center"><div class="loader"></div>
          </div>
          <ng-template #showMessage>
            <div *ngIf='errorMessage' class="alert alert-danger" role="alert"><strong>Error.- </strong> {{ errorMessage }}</div>
          </ng-template>
          <div class="float-end">

              <!-- <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav> -->
            </div>

        </div>
      </div>

    </div>
  </div>





  <div class="text-white fw-bold mt-3 p-2" style="background-color: #1a4f46;">
    <div class="d-flex bd-highlight">
      <div class="flex-fill p-2 bd-highlight" style="background-color: #1a4f46;">
        Servicios Abiertos
      </div>
      <div class="p-1 bd-highlight ">
        <!-- <button class="btn btn-outline-light btn-sm " [routerLink]="'/admin/recepcion/vehiculos-form/0' "><i class="bi bi-plus-square"></i> Nuevo</button> -->
      </div>
    </div>
  </div>
  <div>
    <app-m-services-list [services]="services" [customer]="customer" [pathService]="pathService"></app-m-services-list>
  </div>
<pre>{{services|json}}</pre>
</div>
