<div class="title ps-3 pt-3">
  <h5> <i class="bi bi-chevron-right"></i> VW Scirocco 2012 </h5>
</div>
<div class="container ps-5 pt-5">

  <div class="row " *ngFor="let vehicle of vehicles">

      <div class="col-md-8 vehicles">

        <h4>Ficha Tecnica</h4>

        <div class="row">
          <div class="content mt-4 mb-5">
            <table style="width:100%; border-bottom:2px solid #f0eeee">
              <tr>
                <td rowspan="4" style=" vertical-align:top; max-width:152px; padding-right: 20px; "> <img
                    class="vehicle-quarter" [src]="vehicle.image" alt=""></td>
              </tr>
              <tr>
                <td class="vehicle-id" colspan="3">Id: {{vehicle.id}} <span class="vehicle-text text-center p-1"
                  style="font-weight: bold;  font-size: 10px; background-color: rgb(7, 211, 7);color: white;">{{vehicle.status.statusName}}</span></td>
              </tr>
              <tr>
                <td colspan="3">
                  <div>{{ vehicle.make.name}} {{ vehicle.model}} 2.0 TSI</div>
                  <div>{{ vehicle.motor}}</div>
                  <div>{{ vehicle.id}} velocidades</div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div > <span class="vehicle-campo">Año: </span><span class="vehicle-text"> {{ vehicle.year }}</span>, </div>
                  <div><span class="vehicle-campo">Odo: </span> <span class="vehicle-text"> {{vehicle.odo}} km</span> </div>
                </td>
                <td>
                  <div><span class="vehicle-campo">Ultimo Ingreso: </span> <span class="vehicle-text"> {{vehicle.lastService}}</span>
                  </div>
                  <div><span class="vehicle-campo">desde: </span><span class="vehicle-text">{{vehicle.created_at}}</span></div>
                </td>
              </tr>
              <tr>
                <td> 1 </td>
                <td>2</td>
                <td>3</td>
                <td class="pb-2"><span class="vehicle-text text-center p-1"
                    style="font-weight: bold;  font-size: 10px; background-color: rgb(7, 211, 7);color: white;">{{vehicle.status.statusName}}</span></td>
              </tr>
            </table>
          </div>
        </div>








        <div class="services pt-4 pb-4" style1="background-color:  rgba(251, 72, 72); height: 400px">
          <img class="img-bg" src="../../../../assets/images/p3.png" alt="">
          <div class="services-container ms-4 me-4">




            <div class="card card-services text-white bg-dark">
              <img class="card-img-top" src="../../../../assets/images/icons/brakes.png" alt="Title" />
              <div class="card-body">
                <h5 class="card-title">Ultimo cambio de Balatas: N/A</h5>

              </div>
            </div>
            <div class="card card-services text-white bg-dark">
              <img class="card-img-top" src="../../../../assets/images/icons/car.png" alt="Title" />
              <div class="card-body">
                <h5 class="card-title">Ultimo cambio de Aceite: 22-01-24</h5>
              </div>
            </div>

            <div class="card card-services text-white bg-dark">
              <img class="card-img-top" src="../../../../assets/images/icons/emissions.png" alt="Title" />
              <div class="card-body">
                <h5 class="card-title">Ultimo cambio de Bujias: N/A</h5>
              </div>
            </div>

            <div class="card card-services text-white bg-dark">
              <img class="card-img-top" src="../../../../assets/images/icons/battery.png" alt="Title" />
              <div class="card-body">
                <h5 class="card-title">Ultimo cambio de Bateria: N/A</h5>
                <!-- <p class="card-text">Text</p> -->
              </div>
            </div>

          </div>

        </div>










      </div>
      <!-- <div class="col-md-4 activity">
        <h4>Vista Superior</h4>
        <div class="top-view-content ps-5 pt-5"><img class="top-view" src="../../../../assets/images/cars/topView.png" alt=""></div>
      </div> -->
      <div class="col-md-4 activity">
        <h4>Historial de servicios</h4>
        <div class="top-view-content ps-5 pt-5"></div>
      </div>

  </div>
</div>
