<div class="title ps-3 pt-3">
  <h5>Ficha Tecnica</h5>
</div>
<div class="container ps-5 pt-5">

  <div class="row">
    <table style="width: 100%">
      <tr>
        <td>
          <h5> {{ vehicle.modelo.marca.marca | titlecase}} {{ vehicle.modelo.modelo | titlecase}} {{ vehicle.anioModelo}}</h5>
        </td>
        <td style="text-align: right"><button class="btn btn-danger" (click)="regresar()">Regresar</button></td>
      </tr>
    </table>
    <div class="col-md-12 vehicles">
      <app-vehicle-card [vehicle]="vehicle" ></app-vehicle-card>
    </div>
  </div>

  <div class="row">
    <div class=" activity">
      <h4>Historial de servicios</h4>
      <div class="top-view-content ps-5 pt-5">
        <app-vehicle-services></app-vehicle-services>
      </div>
    </div>
  </div>


  <!-- <div class="col-md-4 activity">
        <h4>Vista Superior</h4>
        <div class="top-view-content ps-5 pt-5"><img class="top-view" src="../../../../assets/images/cars/topView.png" alt=""></div>
      </div> -->

</div>
