<div class="table-responsive">
  <table class="table table-striped table-hover table-borderless  align-middle">
    <thead class="table-secondary">
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>E-mail</th>
        <th>Vehiculos</th>
        <th width="150 px" class="d-print-none">Opciones</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let customer of customers" class="table-striped">
        <td (click)="setCurrentCustomer(customer)" style="cursor: pointer;" scope="row">{{customer.idCliente}}</td>
        <td (click)="setCurrentCustomer(customer)" style="cursor: pointer;">{{customer.nombre | titlecase}}</td>
        <td (click)="setCurrentCustomer(customer)" style="cursor: pointer;">{{customer.apellidoPaterno | titlecase}}
        </td>
        <!-- <td> {{customer.vehiculos.length? customer.vehiculos.length: 0}}</td> -->
        <td (click)="setCurrentCustomer(customer)" style="cursor: pointer;">{{customer.telefono | phone}}</td>
        <td (click)="setCurrentCustomer(customer)" style="cursor: pointer;">{{customer.usuario.username}}</td>
        <td (click)="setCurrentCustomer(customer)" style="cursor: pointer;">{{ customer.vehiculos.length }}</td>
        <td class="d-print-none">
          <!-- <button class="btn btn-success" [routerLink]="['/admin/recepcion/vehiculos-form'+'/' + customer.idCliente]">Ver</button>&nbsp; -->
          <!-- <button class="btn btn-warning btn-sm" [routerLink]="['/admin/recepcion/clientes-view/' + customer.idCliente]">Editar</button>&nbsp; -->

          <!-- <button *ngIf="!customer.vehiculos.length" class="badge bg-danger text-dark text-white"
            (click)="delete(customer.idCliente)">Eliminar</button> -->
          <button class="btn btn-outline-danger cancelBtn btn-sm ms-2" *ngIf="!customer.vehiculos.length"
            (click)="delete(customer.idCliente)">Eliminar</button>&nbsp;

        </td>
      </tr>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>



<app-toast [toasts]="messages" class="position-realtive"></app-toast>
