
<div class="container">

  <section class="textoContenidos dos">
    <div class="contenedor" id="error">
    <h2 class="big ligth"> <i class="bi bi-exclamation-triangle"></i> Error 404 </h2>
    <div class="ttlContenido">
      <h3>No se encontró el recurso solicitado</h3>
    </div>
    <div class="contenidoGralDos">
      <div class="columnaOne">
        <div class="bannerCanal"></div>
        <div class="cajaContenidoGral">
          <p class="ttlContenido"><span class="medium">El recurso solicitado es posible que este temporalmente fuera de servicio, haya cambiado de nombre o ya no existe.</span></p>
          <!-- <p class="ttlContenido">Compruebe que la dirección en la barra de direcciones esté escrita correctamente.</p> -->
          <ul>
            <li>Verifica que hayas escrito correctamente la dirección.</li>
            <li>Haz clic en la opción <a href="javascript:history.go(-1)">Atrás</a> para intentar otro vínculo.</li>
            <li>Utiliza el <a href="/es/Infotec/Mapa-del-Sitio">mapa de sitio</a> del portal para ubicar la ruta de la página que deseas consultar.</li>
            <li>Introduce en el campo de búsqueda una palabra clave que te ayude a encontrar la página que necesitas.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

  </div>
