/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.page-title {
  margin-top: 20px;
  background-color: rgb(243, 243, 243);
  border-bottom: 2px solid rgb(230, 230, 230);
  border-top: 2px solid rgb(230, 230, 230);
  height: 60px
}

.ng-valid:not(form).ng-touched{
  border-left: 5px solid #42a948;
}

.ng-invalid:not(form).ng-touched {
  border-left: 5px solid #a94442;
}
.clickable{
  cursor: pointer;
}
.layered-image {
  background: linear-gradient(to left, transparent, #6b6b6b),
    url("/assets/images/backgrounds/fondo_top4.png");
  background-repeat: repeat;
}
.layered-image-blue {
  background: linear-gradient(to bottom, transparent, #047bd5),
    url("/assets/images/backgrounds/fondo_top4.png");
  background-repeat: repeat;
}
.layered-image-right {
  background: linear-gradient(to right, transparent, #0078d4),
    url("/ng-TallerMecanico/assets/images/backgrounds/fondo_top4.png");
  background-repeat: repeat;
}
.text-row{
  font-size: 13px;
}
.row-link:hover{
  cursor:pointer;
  text-decoration: underline;
}
.cancelBtn{
  border-right: 10px solid #df3545
}

.acceptBtn{
  border-right: 10px solid #028a02
}

.modal-dialog{
  top: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.format-json{
    background-color: ghostwhite;
    border: 1px solid silver;
    padding: 0px 10px;
    margin: 0px;
    border-radius: 4px;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
  font-family: "Lucida Console", Monaco, monospace;

}
.bg {
  /* The image used */
  background-image: url("/assets/images/backgrounds/fondo_car_01.jpg");

  /* Full height */
  height: 120%;

  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background:linear-gradient(90deg,#000 50%,#0000 0) right/200% 100%;
  animation: l21 2s infinite linear;
}
.loader::before {
  content :"Descargando...";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(90deg,#fff 50%,#000 0);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l21{
  100%{background-position: left}
}
