/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.page-title {
  margin-top: 20px;
  background-color: rgb(243, 243, 243);
  border-bottom: 2px solid rgb(230, 230, 230);
  border-top: 2px solid rgb(230, 230, 230);
  height: 60px
}
