<div class="container ps-5 pt-3">

  <div class="row ">
    <div class="col-md-5 mt-4 bg-primary text-white">

      <img class=" mt-3" src="/ng-TallerMecanico/assets/images/portadas/marcas_portada.jpg" style="width:100%;"
        alt="">
      Lorem ipsum
      <p class="mt-2 texto-parrafo">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel lacinia sapien, in suscipit ipsum. Nam ut
        ultrices magna. Integer placerat libero a dolor scelerisque porta. Morbi venenatis, nibh sed cursus ornare,
        massa augue molestie justo, sed rutrum ex tortor sit amet augue. Sed a tempus libero. Sed at orci a ex fermentum
        auctor in et nunc. Sed venenatis risus odio, in hendrerit nibh laoreet sit amet. Nullam dapibus nulla in dictum
        tristique. Morbi at interdum eros. Quisque ultricies et lectus a dapibus. Nullam ac ipsum pulvinar, ultrices
        sapien vel, tempus ipsum. Donec venenatis, magna vel vehicula ultrices, lectus nibh placerat ante, id ornare
        libero quam eu erat. Donec facilisis ex et neque consequat.
      </p>
    </div>
    <div class="col-md-7">
      <app-page-title [title]="title" [subTitle]="subTitle" [printerEnabled]="true"
        [buttons]="buttons"></app-page-title>
      <div class="bg-dark mb-3">&nbsp;</div>


      <form [formGroup]="modeloForm">
        <div class="mb-3">
          <label for="modelo" class="form-label">Modelo</label>
          <input formControlName="modelo" type="text" class="form-control" id="modelo">
          <div *ngIf="modeloForm.controls.modelo.invalid && (modeloForm.controls.modelo.dirty || modeloForm.controls.modelo.touched)" class="alert alert-danger">
            <div *ngIf="modeloForm.controls.modelo.errors?.['required']">La descripción del modelo no puede quedar vacía.</div>
            <div *ngIf="modeloForm.controls.modelo.errors?.['minlength']">Debe tener como mínimo 2 caracteres.</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="marca" class="form-label">Marca</label>
          <select formControlName="marca" class="form-select" id="marca">
            <option value="">Selecciona una marca</option>
            <option *ngFor="let marca of marcas" [value]="marca.idMarca">{{ marca.marca }}</option>
          </select>
          <div *ngIf="modeloForm.controls.marca.invalid && (modeloForm.controls.marca.dirty || modeloForm.controls.marca.touched)" class="alert alert-danger">
            <div *ngIf="modeloForm.controls.marca.errors?.['required']">Debe seleccionar una marca.</div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="showSpinner" (click)="save()">
          <span *ngIf="showSpinner" class="spinner-border spinner-border-sm"></span> Grabar
        </button>
      </form>


    </div>
  </div>
</div>
{{ modelo.marca.idMarca | json }}

<app-toast [toasts]="messages"></app-toast>
